* {
  border: none;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  margin: 0;
  padding: 0;
  user-select: inherit;
}

html {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

body, #root {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

ol, ul {
	list-style: none;
}
